*{
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #23074d, #cc5333);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ffffff34;
    backdrop-filter:blur(10px) ;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1{
    color: burlywood;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 img {
    height: 50px;
    width: 70px;
    margin-right:10px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: #ba4829d8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #ede4e4;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
      background: #edeef0;
}
